{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

<style>
    form{
        display:grid;
        grid-template-columns: auto auto;
    }
</style>

{% include 'navbar.html' %}
<div class="outershell">
    <div class="section">
    <form action="/add_new_category" method="post">
        <label class="text-label" for="category">Category</label>
        <input class="text-field" type="text" name="category" placeholder="category name">
        <p></p>
        <input class="submit-btn" type="submit">
    </form>
    </div>
</div>
{% include 'footer.html' %}

{% endblock %}