{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <canvas id="dbChart" height="120"></canvas>
</div>
<div id="controls">
<div id="rolling-average">
    <p>Rolling average</p>
    <select>
        <option value="0">None</option>
        <option value="7">Week</option>
        <option value="30">Month</option>
    </select>
</div>
</div>
<script src="{{ url_for('static', filename='javascript/graph/graph.js') }}"></script>

{% include 'footer.html' %}

{% endblock %}