{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}


{% include 'navbar.html' %}
<!-- TODO: add form validation-->
<div class="outershell">
<div class="section">
     <form class="bloodpressure-form" action="/submit" method="POST">
          <label class="text-label" for="systolic">Systolic</label>
          <input type="number" class="text-field" id="systolic" name="systolic">
          <label class="text-label" for="diastolic">Diastolic</label>
          <input type="number" class="text-field" id="diastolic" name="diastolic">
          <label class="text-label" for="pulse">Pulse</label>
          <input type="number" class="text-field" id="pulse" name="pulse">
          <label class="text-label" for="notes">Notes</label>
          <textarea type="text" class="text-field-large" id="notes" name="notes"></textarea>
          <input type="submit" class="btn">
     </form>
</div>
</div>

{% include 'footer.html' %}

{% endblock %}