{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}


{% include 'navbar.html' %}

<div class="container" style="padding: 50px; max-width: 300px;">
     <form class="form-control" action="/submit" method="POST">
     {{ form.csrf_token }}
     {{ form.systolic.label }} {{ form.systolic(class="form-control") }}
     {{ form.diastolic.label }} {{ form.diastolic(class="form-control") }}
     {{ form.pulse.label }} {{ form.pulse(class="form-control") }}
     {{ form.submit(class="form-control btn btn-primary", style="margin-top: 20px;") }}
     </form>
</div>


{% include 'footer.html' %}

{% endblock %}