{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}


{% include 'navbar.html' %}
<!-- TODO: add form validation js -->
<div class="outershell">
    <div class="section">
        <form class="login-form" action="/login" method="post">
            <label for="username">Username:</label>
            <input class="text-field" type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input class="text-field" type="password" id="password" name="password">
            <input class="btn" type="submit">
        </form>
    </div>
</div>
{% include 'footer.html' %}

{% endblock %}