{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}


{% include 'navbar.html' %}
<!-- TODO: add form validation js -->
<div class="outershell">
    <div class="section">
        <form class="login-form" action="/login" method="post">
            <label class="text-label" for="username">Username:</label>
            <input class="text-field" type="text" id="username" name="username">
            <label class="text-label" for="password">Password:</label>
            <input class="text-field" type="password" id="password" name="password">
            <!--TODO: move submit button out of grid so it centers, then add javascript so it functions -->
            <input class="submit-btn" type="submit">
        </form>
    </div>
</div>
{% include 'footer.html' %}

{% endblock %}