{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}" />
<div class="outershell">
<div class="section">
<table class="table">
    <thead>
    <tr>
        <td>Time</td>
        <td>Medication</td>
    </tr>
    </thead>
    <tbody id="medication_table">

    </tbody>
</table>
    <div style="display:flex; margin:auto; width:150px;">
    <a class="btn btn-link" id="page-down"><</a><input value="1" id="page-num-input" style="width:30px;" type="text"></input><a class="btn btn-link" id="page-up">></a>
    </div>
</div>
</div>
{% include 'footer.html' %}
<script src="{{ url_for('static', filename='javascript/medication_table_pagination.js') }}"></script>
{% endblock %}