{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<div class="container">
<a href="/download_table" class="btn btn-secondary">Download to excel</a>
<table class="table">
    <tr>
        <td>Time</td>
        <td>Created</td>
        <td>Systolic</td>
        <td>Diastolic</td>
        <td>Pulse</td>
        <td>Notes</td>
    </tr>
{% for entry in table %}
    <tr>
        <td>{{ entry.time }}</td>
        <td>{{ entry.created}} </td>
        <td>{{ entry.systolic }}</td>
        <td>{{ entry.diastolic }}</td>
        <td>{{ entry.pulse }}</td>
        <td>{{ entry.notes }}</td>
    </tr>
{% endfor %}
</table>
    <a href="/populate_created_values" class="btn btn-link">DO THA THANG</a>
</div>

{% include 'footer.html' %}

{% endblock %}