{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}" />
<div class="outershell">
<div clas="section">
    <a href="/download_table" class="btn btn-secondary">Download to excel</a><a href="/graph_table" class="btn btn-secondary">Graph</a>
</div>
<div class="section">
<table class="table">
    <thead>
    <tr>
        <td>Time</td>
        <td>Systolic</td>
        <td>Diastolic</td>
        <td>Pulse</td>
        <td>Notes</td>
        <td>btn</td>
    </tr>
    </thead>
    <tbody id="blood-pressure-table">


</tbody>
</table>
    <div style="display:flex; margin:auto; width:150px;">
    <a class="btn btn-link" id="page-down"><</a><input value="1" id="page-num-input" style="width:30px;" type="text"></input><a class="btn btn-link" id="page-up">></a>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='javascript/table_pagination.js') }}"></script>
{% include 'footer.html' %}

{% endblock %}